@use "@/assets/styles" as *;
:root {
  --bg-header: transparent;
}

html[data-theme="dark"] {
  --bg-header: #000;
}

.header {
  // position: static;
  display: flex;
  align-items: center;
  height: var(--height-header);
  padding-inline: var(--space-fluid);
  border-bottom: 1px solid var(--border);
  background: var(--bg-header);
  transition: background-color 0.25s ease, color 0.25s ease;
}
.nav {
  display: inline-block;
}

.left {
  position: relative;
  z-index: 100;
  margin-right: auto;

  > a {
    display: block;
    color: inherit;

    line-height: 1.2;
    font-weight: 500;
    &:hover {
      color: var(--primary);
    }
  }
}
.right {
  margin-left: auto;
  flex: 1 0 auto;
  text-align: right;
}

.nav {
  display: inline-block;
}
