@use "@/assets/styles" as *;

.bmi {
  input {
    padding: rem(12) rem(10);
    height: rem(44);
  }

  button {
    height: rem(44);
  }
  .result {
    margin-top: 1rem;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: rem(6);
  max-width: rem(600);
  input {
    flex: 1;
  }
}
