/* ===========================
   THEME TOKENS (:root variables)
   =========================== */
:root {
  // --scale: 0.875; /* 모바일: 14/16 = 0.875 */
  --scale: 1; /* 모바일: 14/16 = 0.875 */
  --height-header: 5.125rem;
  /* Light theme (default) */
  --bg: #f0eee6;
  --bg-only-light: #f0eee6;
  --bg-header: transparent;
  --bg-white-cont: #faf9f5;
  --bg-section-card: #faf9f5;
  --bg-highlight: #e4dacd;
  --text: #30302e;
  --text-card: #141413;
  --text-card-tit: #141413;
  --muted: #6b7280;
  --surface: #ffffff;
  --highlight-text: #000;

  --border: #14141333;
  --border-list: #b0aea5;
  --border-white-cont: #e8e6dc;
  --code-border: #30302e;

  --primary: #2563eb;
  --primary-600: #1d4ed8;
  --bg-btn: #1b1b1b;
  --bg-btn-black: #1b1b1b;
  --link: #2563eb;
  --focus: #3b82f6;

  --card-bg: #fff;
  --code-bg: #f8fafc; /* inline code bg */
  --link: #2563eb; /* blue-600 */
  --radius: 12px;
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.04);

  /* Typography */
  --font-sans: "Pretendard", "Noto Sans KR", system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --font-size-root: 16px;
  --lh-base: 1.6;

  /* Spacing / Radius / Shadow */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --radius-sm: 6px;
  --radius-md: 12px;
  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 6px 20px rgba(0, 0, 0, 0.08);
  --space-fluid: clamp(0.875rem, 3vw, 1.5rem);
  /* Misc */
  --outline-width: 2px;

  /* 기타 */
  --color-gray-1: #e0e0e0;
  --badge-neutral: #c96442;
}

/* Dark theme */
html[data-theme="dark"] {
  --bg: #060b0f;
  --bg-section-card: #121820;
  --bg-highlight: #cdd3e4;

  --text: #e5e7eb;
  --text-card: #a9b3be;
  --text-card-tit: #fff;
  --muted: #9ca3af;
  --surface: #0b0b0b;
  --border: #1f2937;
  --border-list: #1f2937;
  --primary: #0c4db1;
  --primary-600: #93c5fd;
  --bg-btn: #3c434d;
  --link: #93c5fd;
  --focus: #60a5fa;

  --shadow-1: 0 1px 2px rgba(255, 255, 255, 0.4);
  --shadow-2: 0 10px 30px rgba(255, 255, 255, 0.4);

  /* 기타 */
  --badge-neutral: #e79132;
  --code-bg: transparent;
  --code-border: #e5e7eb8a;
}

/* Optional: follow system theme */
// @media (prefers-color-scheme: dark) {
//   :root:not([data-theme]) {
//     /* (원한다면 dark 변수 복사 가능) */
//   }
// }

/* 560px 이상에서 1x로 */
@media (max-width: 340px) {
  :root {
    --scale: 0.875; /* 모바일: 14/16 = 0.875 */
  }
}
@media (min-width: 560px) {
  :root {
    --scale: 1;
  }
}
