@use "../../assets/styles" as *;

.aboutWrap {
  max-width: rem(956);
  margin: 0 auto;
  padding: rem(46) var(--space-fluid);
  h1 {
    letter-spacing: rem(-0.3);
  }
}

.sideBar {
  width: 100%;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(14);
}
.profileLeft {
  width: clamp(rem(100), 40%, rem(240));
  margin: 0 auto;
}
.profileRight {
  flex: 1;
}
.picture {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 100%;
  background: #a76d55;
  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    // width: 90%;
    // max-width: rem(250);
    height: auto;
  }
}
.role {
  margin: rem(6) 0;
  font-size: remx(14);
  font-weight: 500;
  opacity: 0.65;
}
.name {
  display: flex;
  gap: 12px;
}
.hanjaIitem {
  position: relative;
  margin-bottom: 0;
}
.hanja {
  display: block;
  font-size: remx(24);
  font-weight: 600;
  text-align: center;
}

.hanjaDesc {
  font-size: rem(14);
  opacity: 0.6;
  margin-top: 2px;
  // color: #3376a3;
  font-weight: 500;
}

.quote {
  width: 100%;
  margin: rem(10) 0 0;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: 500;
}
.selfIntro {
  margin-bottom: rem(20);
}
.highlight {
  background: var(--bg-highlight);
  color: var(--highlight-text);
  font-weight: 600;
}
.moreProject {
  margin-top: rem(30);
  text-align: right;
}
@media (max-width: 322px) {
  .hanjaDesc {
    font-size: rem(12);
  }
}
@media (min-width: 560px) {
  .role {
    font-size: remx(18);
  }
  .profileLeft {
    width: rem(180);
  }
  .hanja {
    text-align: left;
    font-size: remx(30);
    font-weight: 500;
  }
  .quote {
    font-size: remx(18);
    margin: rem(6) 0 0;
  }
}

@media (min-width: 768px) {
  .about {
    margin-top: rem(36);
    display: grid;
    grid-template-columns: 256px minmax(0, 1fr);
    gap: 20px;
  }

  .sideBar {
    grid-row: 1;
  }

  .selfIntro {
    font-size: remx(20);
    line-height: 1.5;
    margin-bottom: rem(40);
    h2 {
      font-size: remx(32);
    }
    p + p {
      margin-top: rem(16);
    }
  }
  .highlight {
    font-weight: 500;
  }
}
