@use "../assets/styles" as *;

.container {
  max-width: rem(956);
  margin: 0 auto;
  padding: rem(46) var(--space-fluid);
  > section:not(.headerCard) {
    p {
      max-width: rem(720);
    }
  }
}

.headerCard {
  margin-bottom: 20px;

  p {
    margin: 0;
  }
}

.meta {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 12px;
}
.badgeWrap {
  font-size: 0;
  margin-bottom: rem(12);
  > span {
    display: inline-block;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.neutral {
  background: #fafafa;
}

.linkBtn {
  margin-left: auto;
  width: 100%;
  text-align: center;
}
.goals,
.tech,
.prologue {
  position: relative;
}

/* 560px 이상에서 1x로 */
@media (min-width: 560px) {
  .linkBtn {
    width: 200px;
  }
  .badgeWrap {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .container {
    section {
      font-size: remx(20);
      line-height: 1.5;
      h2 {
        font-size: remx(32);
      }
      p + p {
        margin-top: rem(16);
      }
    }
  }
}
