@use "@/assets/styles" as *;

.detail {
  position: relative;
  padding-inline: var(--space-fluid);
  padding-top: rem(30);
}
.header {
  // margin-top: rem(60);
  position: relative;
  margin-bottom: rem(26);
}
.headerInner {
  max-width: 1400px;
  margin: 0 auto;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: rem(20);
}

.left {
  min-width: 0; /* 내부 컴포넌트가 넘치지 않도록 */
  // background: var(--surface-1);
  // border: 1px solid var(--border);
  // border-radius: rem(12);
  margin-right: auto;
  // width: 100%;
  width: auto;
  flex: 1;
}

.right {
  padding: rem(16);
  width: 100%;
  margin-left: auto;
}

.checklist {
  display: grid;
  gap: rem(8);

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: rem(8);

    /* 체크 마커 */
    &::before {
      content: "✓";
      color: var(--link);
      font-weight: 700;
      line-height: 1;
      margin-top: 0.2em;
    }
  }
}

@media (min-width: 820px) {
  .right {
    flex: 0 0 clamp(rem(260), 30%, rem(350));
  }
  .left {
    flex: 1 1 0;
  }
}
