.nav {
  ul > li {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    display: block;
    color: var(--text);
    font-weight: 500;
    padding: 12px 10px;
    font-weight: 500;
    &:hover {
      color: var(--primary);
    }

    &:focus-visible {
      outline: var(--outline-width) solid var(--focus);
      outline-offset: 2px;
      border-radius: var(--radius-sm);
    }
  }
  margin-right: 10px;
}
